<!DOCTYPE html>
<html>
<head>
<style>
#map {
    height: 800px;
}
.s-s{
    padding: 10px;
}
#starter-saver{
    padding: 30px;
}
.list-group{
    padding: 30px;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">
<script src="https://unpkg.com/leaflet-drift-marker@1.0.3/lib/DriftMarker/Drift_Marker.js"></script>
</head>
    <title>{{ title }} - Swarm-AI GUI</title>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        $( function() {
          $( "input" ).checkboxradio();
        } );
    </script>
</head>
<body>
    <div id="master-cont" class="container-fluid">
        <div class="row">
            <div id=boxes class="col-sm-3">
                <fieldset id="bx-fields">
                    <legend>Add the following on click: </legend>
                    <label for="radio-1">Point</label>
                    <input type="radio" name="radio-1" id="radio-1" checked="checked" >
                    <label for="radio-2">Point to Region</label>
                    <input type="radio" name="radio-1" id="radio-2">
                    <label for="radio-3">Group</label>
                    <input type="radio" name="radio-1" id="radio-3">
                </fieldset>        
            </div> 
            <div id="alttt-div" class="col-sm-2">
                <legend>Alt(m): </legend>
                <input id="altbox" type="number" step="0.01" value="10.00"  />
            </div> 
            <div id="starter-saver" class="col-sm-2">
                <input id="saver" type="submit" value="Save" class = "s-s"/>
                <input id="starter" type="submit" value="Start!" class = "s-s"/>
            </div> 
        </div>
        <div id ="pr_infce" class="row">
            <div id="map" class="col-sm-8"></div>
            <div id="prlist" class="col-sm-4 list-group col nested-sortable pr-total">
                <div id="group-1" class="list-group-item nested-1">Group 1
                    <input  type="submit" value="Remove" class = "g-remove"/>
                    <div class="list-group nested-sortable pr-group"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var osmUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, {
            maxZoom: 18,
            attribution: osmAttrib
        });
    
    var map = L.map('map').setView([19.04469, 72.9258], 1).addLayer(osm);

    var DroneIcon = L.Icon.extend({
        options: {
            iconSize:     [38, 38],
            iconAnchor:   [19, 19],
            popupAnchor:  [-3, -10]
        }
    });

    var master_alt = 10.00;
    $(document).ready(function(){
        $("#altbox").bind('keyup mouseup', function () {
            master_alt = this.value;
            // alert(master_alt);
        });
    });

    var mission_flag = 0;
    var dIcon = new DroneIcon({iconUrl: 'http://127.0.0.1:5000/static/img/drone.png' });
    var markers = new Array();
    var regions = new Array();
    var radioValue = "radio-1";
    

    function save_pr(){
        var allpts = new Array();
        var i,j;
        for (i = 0; i < regions.length; i++){
            var curr = regions[i].points;
            for (j = 0; j < curr.length; j++){
                allpts.push(curr[j]);
            }
        }
        var msg = new Array();
        // [Index]#[Group]#[Region]#[Region_index]#[Lat]#[Long]#[Alt]
        msg.push({index: mission_flag, group: 0, region: 0, region_index: 0, lat: 0, long: 0, alt: 0});
        
        
        var index = 1;
        $( "#prlist" ).find( ".nested-1" ).each(function(){
            var grp = $( this ).attr("id").split('-')[1];
            //alert("Group: " + grp.toString());
            $( this ).find( ".nested-2" ).each(function(){
                var rg = $( this ).attr("id").split('-')[1];
                // alert("Rg: " + rg.toString());
                var rg_idx = 1;
                $( this ).find( ".nested-3" ).each(function(){
                    var curpt = $( this ).attr("id");
                    var curpt_data = null;
                    for(i = 0; i < allpts.length; i++){
                        if(curpt == allpts[i].getPopup().getContent()){
                            curpt_data = allpts[i];
                            allpts.splice(i, 1);
                        }
                    }
                    // alert("Group: " + grp.toString() + " Rg: " + rg.toString() + " " + curpt);
                    var latlong = curpt_data.getLatLng();
                    var lat = latlong.lat;
                    var lng = latlong.lng;
                    var alt = curpt_data.options.title.split(' ')[1];
                    //alert(alt);
                    msg.push({index: index, group: grp, region: rg, region_index: rg_idx, lat: lat, long: lng, alt: alt});
                    index++;
                    rg_idx++;
                });
            });
        });

        var json_msg = JSON.stringify(msg);
        var telem_request = new XMLHttpRequest();
        telem_request.open('POST', {{ url_for('get_telem')|tojson }});
        telem_request.send(json_msg);
    }

    $( "#starter" ).click(function() {
        var curr_val = $( this ).attr("value");
        if(curr_val == "Start!"){
            $( this ).attr("value", "Stop!");
            mission_flag = -1;
        }
        else{
            $( this ).attr("value", "Start!");
            mission_flag = 0;
        }
        save_pr();
    });

    $( "#saver" ).click(function(){
        save_pr();
    });

    $('#bx-fields input').on('change', function() {
        radioValue = $( this ).attr("id");
        //alert( radioValue ); 
    });

    var group = 2, region = 1, point = 1;
    
    function removeRegion(name){
        var i, j;
        for (i = 0; i < regions.length; i++){
            if(regions[i].name == name){
                if(regions[i].region != null){
                    map.removeLayer(regions[i].region);
                }
                var curr = regions[i].points
                for(j = 0; j < curr.length; j++){
                    map.removeLayer(curr[j]);
                }
                regions.splice(i,1);
                return;
            }
        }
    }

    function gRemoveButton(){
        $( ".g-remove" ).click(function() {
            $( this ).parent().find( ".nested-2" ).each(function(){
                //alert($( this ).attr("id") + "-list");
                removeRegion( $( this ).attr("id") + "-list" );
            });
            $( this ).parent().remove();
        });
    }

    function addGroup(){
        listElement = document.getElementById('prlist');
        
        // create an item for each one
        listItem = document.createElement('div');
        listItem.setAttribute("id", "group-".concat(group.toString()));

        // Add the item text
        listItem.innerHTML = "Group " + group.toString() + "  <input  type=\"submit\" value=\"Remove\" class = \"g-remove\"/><div class=\"list-group nested-sortable pr-group\"></div>";
        listItem.className = "list-group-item"
        listItem.classList.add("nested-1")

        group = group + 1;

        // Add listItem to the listElement
        listElement.appendChild(listItem);
        // alert(listData[i]);

        gRemoveButton();
            
        $('.pr-group').each( function(){
            $( this ).sortable({
                // group: 'nested',
                animation: 150,
                fallbackOnBody: true,
                swapThreshold: 0.65,
                receive: function(event, ui) {
                    event.preventDefault();
                },
                connectWith: ".pr-group",
                dropOnEmpty: true
            }).disableSelection();
        });
    }

    function configureRegion(index){
        var sortedIDs = $( "#" + regions[index].name ).sortable( "toArray" );
        var curr = regions[index].points, i,j;
        var new_curr = new Array();
        for (i = 0; i < sortedIDs.length; i++){
            for(j = 0; j < curr.length; j++){
                // alert(sortedIDs.length.toString() + " " + curr.length.toString() + "|" + sortedIDs[i] + "|" + curr[j].getPopup().getContent() + "|");
                if(curr[j].getPopup().getContent() == sortedIDs[i]){
                     // alert("found point");
                     new_curr.push(curr[j]);
                     curr.splice(j, 1);
                     break;
                }
            }
        }

        regions[index].points = new_curr;

        if(regions[index].region == null){
            if(regions[index].points.length > 2){
                var new_area = new Array(), i;
                for(i = 0; i < regions[index].points.length; i++){
                    new_area.push(regions[index].points[i].getLatLng());
                }
                regions[index].region = L.polygon(new_area).addTo(map).bindPopup(regions[index].name);
            }
        }
        else{
            if(regions[index].points.length <= 2){
                map.removeLayer(regions[index].region);
                regions[index].region = null;
            }
            else{
                var new_area = new Array(), i;
                for(i = 0; i < regions[index].points.length; i++){
                    new_area.push(regions[index].points[i].getLatLng());
                }
                regions[index].region.setLatLngs(new_area);
            }
        }
    }

        
    function handleRegionChange(pnt, old, nw){
        var old_index, new_index, i;

        if(old != nw){
            for(i = 0; i < regions.length; i++){
                if(regions[i].name == old){
                    old_index = i;
                    //alert("found old: " + old_index.toString());
                }
                else if(regions[i].name == nw){
                    new_index = i;
                    //alert("found new: " + new_index.toString());
                }
            }
            curr = regions[old_index].points;
            for (i = 0; i < curr.length; i++){
                // alert("|" + curr[i].getPopup().getContent() +"|" + pnt + "|");
                if(curr[i].getPopup().getContent() == pnt){
                    // alert("found point");
                    temp = curr[i]
                    curr.splice(i, 1)
                    regions[old_index].points = curr;
                    regions[new_index].points.push(temp);
                }
            }
            configureRegion(old_index);
            configureRegion(new_index);
        }
        else{
            for(i = 0; i < regions.length; i++){
                if(regions[i].name == old){
                    old_index = i;
                    //alert("found old: " + old_index.toString());
                }
            }
            configureRegion(old_index);
        }
    }

    function addRegion(){
        groups = document.getElementsByClassName("pr-group");

        listElement = groups[groups.length - 1];
        
        // create an item for each one
        listItem = document.createElement('div');
        listItem.setAttribute("id", "region-".concat(region.toString()));

        // Add the item text
        listItem.innerHTML = "Region " + region.toString() + "  <input  type=\"submit\" value=\"Remove\" class = \"r-remove\"/><div id = \"region-" + region.toString() + "-list\" class=\"list-group nested-sortable pr-region\"></div>";
        listItem.className = "list-group-item";
        listItem.classList.add("nested-2");

        n_region = {name: "region-" + region.toString() + "-list", points: new Array(), region: null};
        regions.push(n_region);

        region = region + 1;

        // Add listItem to the listElement
        listElement.appendChild(listItem);
        // alert(listData[i]);

        $( ".r-remove" ).click(function() {
            //alert($( this ).parent().attr("id"));
            removeRegion($( this ).parent().attr("id") + "-list");
            $( this ).parent().remove();
            //alert("BS");
        });
            
        $('.pr-region').each( function(){
            $( this ).sortable({
                // group: 'nested',
                animation: 150,
                fallbackOnBody: true,
                swapThreshold: 0.65,
                start: function(event, ui) {
                    item = ui.item;
                    newList = oldList = $(event.target);
                },
                stop: function(event, ui) {          
                    // alert("Moved " + item.text() + " from " + oldList.attr('id') + " to " + newList.attr('id'));
                    handleRegionChange(item.text().trim(), oldList.attr('id'), newList.attr('id'));
                },
                change: function(event, ui) {  
                    if(ui.sender) newList = ui.placeholder.parent();
                },
                connectWith: ".pr-group .pr-region",
                dropOnEmpty: true
            }).disableSelection();
        });
    }

    function removePoint(name){
        var i,j;
        for (i = 0; i < regions.length; i++){
            var curr = regions[i].points;
            for (j = 0; j < curr.length; j++){
                if(curr[j].getPopup().getContent() == name){
                    map.removeLayer(curr[j]);
                    curr.splice(j, 1);
                    regions[i].points = curr;
                    configureRegion(i);
                    return;
                }
            }
        }
    }

    function addPoint(e){
        groups = document.getElementsByClassName("pr-region");

        listElement = groups[groups.length - 1];
        
        // create an item for each one
        listItem = document.createElement('div');
        listItem.setAttribute("id", "Point ".concat(point.toString()));

        // Add the item text
        listItem.innerHTML = "Point " + point.toString() + "  <input  type=\"submit\" value=\"Remove\" class = \"p-remove\"/>";
        listItem.className = "list-group-item";
        listItem.classList.add("nested-3");

        // alert(listElement.id)
        var i;

        for (i = 0; i < regions.length; i ++ ){
            if(regions[i].name == listElement.id){
                regions[i].points.push(L.marker(e.latlng, {title: "Alt: " + master_alt.toString()}).addTo(map).bindPopup("Point " + point.toString()));
                break;
            }
        }

        point = point + 1;

        // Add listItem to the listElement
        listElement.appendChild(listItem);
        configureRegion(i);
        // alert(listData[i]);

        $( ".p-remove" ).click(function() {
            // alert($( this ).parent().attr("id"));
            removePoint($( this ).parent().attr("id"));
            $( this ).parent().remove();
            //alert("BS");
        });
            
        
    }

    function onMapClick(e) {
        if(radioValue == "radio-3"){
            addGroup();
        }
        else if(radioValue == "radio-1"){
            addRegion();
            addPoint(e);
        }
        else{
            addPoint(e);
        }
    }

    map.on('click', onMapClick);

    var request = new XMLHttpRequest();
    
    function handleUpdate() {
        var data = JSON.parse(request.responseText);
        //marker2.setLatLng([data.lat, data.lng]);
        ks = Object.keys(data.pos);
        for (i = 0; i < markers.length; i++){
            cur = markers[i];
            if (ks.includes(cur.name) && cur.marker != null){
                d = 'Drone ' + cur.name.toString() + "\n" + "Alt: " + data.pos[cur.name][2].toString();
                cur.marker.setLatLng([data.pos[cur.name][0], data.pos[cur.name][1]]);
                cur.marker.setPopupContent(d);
                idx = ks.indexOf(cur.name);
                ks.splice(idx, 1);
            }
            else if (cur.marker != null){
                //alert('removing '.concat(cur.name));
                map.removeLayer(cur.marker);
                cur.marker = null;
            }
        }
        for (i = 0; i < ks.length; i++){
            cur = data.pos[ks[i]];
            d = 'Drone ' + ks[i].toString() + "\n" + "Alt: " + cur[2].toString();
            nmark = {name:ks[i], marker: L.marker([cur[0], cur[1]], {icon: dIcon}).addTo(map).bindPopup(d)};
            markers.push(nmark);
        }
    }
    


    function update_position() {
        request.addEventListener('load', handleUpdate);
        request.open('POST', {{ url_for('update')|tojson }});
        request.send(null);
        setTimeout(update_position, 500);
    };
    
    update_position();

    gRemoveButton();

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.pr-total').each( function(){
            $( this ).sortable({
                // group: 'nested',
                animation: 150,
                fallbackOnBody: true,
                swapThreshold: 0.65,
                receive: function(event, ui) {
                    event.preventDefault();
                },
            }).disableSelection();
        });
        $('.pr-group').each( function(){
            $( this ).sortable({
                // group: 'nested',
                animation: 150,
                fallbackOnBody: true,
                swapThreshold: 0.65,
                receive: function(event, ui) {
                    event.preventDefault();
                },
                connectWith: ".pr-group",
                dropOnEmpty: true
            }).disableSelection();
        });
    });
</script>
</html>